parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Argument of an invalid type mixed supplied for foreach, only iterables are supported.#'
        - '#Call to method [a-zA-Z0-9\\_\(\)]+ on an unknown class [a-zA-Z0-9\\_]+#'
        - '#Instantiated class [a-zA-Z0-9\\_]+ not found.#'
        - '#Access to constant [a-zA-Z0-9\\_]+ on an unknown class [a-zA-Z0-9\\_]+.#'
        - '#Caught class [a-zA-Z0-9\\_]+ not found.#'
    paths:
        - src
        - tests
        - dognet
    excludePaths:
        - dognet/PapApi.class.php