<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php">

    <!-- 🔧 Přidáme nastavení pro potlačení deprecation warningů -->
    <php>
        <ini name="error_reporting" value="E_ALL & ~E_DEPRECATED" />
    </php>

    <testsuite name="Tests">
        <directory>tests/</directory>
    </testsuite>
</phpunit>
